<!-- <div class="logo">
    <div class="logo-image"><img [src]=imageLogo alt="image">
    </div>
    <div class="college-name">
        <h3>D Y Patil</h3>
        <h5>college of Engineering & Technology</h5>
        <hr>
        <h6>kasaba bawada, Kolhapur</h6>
        <h6>(an autonomous institued)</h6>
    </div>
</div> -->

<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  