<!-- <app-title></app-title><br><br><br><hr> -->
<!-- <app-result>Result</app-result> -->

<!-- <app-practice></app-practice> -->

<!-- <app-student></app-student> -->

<!-- <header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a routerLinkActive="active" routerLink="/todoStudent" class="nav-link">Registration</a></li>
      <button mat-button [matMenuTriggerFor]="menu">All Forms</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><a routerLinkActive="active" routerLink="/registration" class="nav-link">Student
            Registration</a></button>
        <button mat-menu-item><a routerLinkActive="active" routerLink="/registration" class="nav-link">Exam
            form</a></button>
      </mat-menu>
      <li class="nav-item"></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/todo" class="nav-link">CURD</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/shopping" class="nav-link">shopping</a></li>

    </ul>
  </nav>
</header> -->

<app-shoping></app-shoping>

<!-- <app-login></app-login> -->

<router-outlet></router-outlet>
