li {
  list-style-type: none;
}

img {
  border-image-width: 128px;
  height: 100px;
}
.navbar-nav {
  flex-direction: row;
  justify-items: center;
  margin-top: 0px;
  width: 100%;
  padding-bottom: 10px;
}

.nav-item {

  flex-direction: row;
padding-left:10px;
  text-align: center;
  width: 20%;
}

.nav-link {
  color: rgb(2, 21, 37);
  font-size: large;
  font-weight: bold;
}

.sub-card-img {
  width: 50%;
}

a {
  text-decoration: none;
}

/* ALL CARD CSS START */

.card {
  width: 302px;
  height: 450px;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  /* background: linear-gradient(20deg, #f1f0ef, #f3f2f1); */
  margin-left: 20px;
  margin-bottom: 15px;
}

.card-img-top {
  width: 200px;
  height: 280px;
  position: relative;
  top: 0px;
  padding-bottom: 10px;
  transition: 0.3 ease-in-out;
}

.addCard {
  background-color: rgb(243, 189, 12);
  margin-right: 15px;
  margin-bottom: 1px;
}

.goToCart{
  background-color: rgb(241, 81, 7);
  margin-right: 15px;
}

.buy {
  background-color: rgb(226, 106, 8);
}
.card-body {
  /* align-items: center; */
  position: absolute;
  bottom: 0px;
}
a {
  text-decoration: none;
  color: black;
}

.col-md-8{
  margin-top: 5px;
  height: 150px;
}